@import 'src/assets/scss/theme';


.Hamburger {
  cursor: pointer;
  transition: transform 0.4s;
  transform-origin: center;

  &_opened {
    transform: rotate(180deg);
  }
}

.Hamburger__line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: map_get($theme, secondary);
  transition: transform 0.4s;

  &:last-child {
    margin-bottom: 0;
  }
}

.Hamburger_opened .Hamburger__line {
  &:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
  }
}
