@import 'src/assets/scss/theme';

.List {
  position: relative;
  margin: 0;

  &_disabled {
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: map_get($theme, black);
      opacity: 0.2;
    }
  }
}
