.Overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(21, 32, 81, 0.5);
  cursor: default;

  &:focus {
    outline: none;
  }

  &_transparent {
    background-color: transparent;
  }
}
