@import 'src/assets/scss/mixins';
@import 'src/assets/scss/theme';

html {
  background-color: map_get($theme, idle);
}

html body {
  margin: 0 auto;
  background-color: transparent;
  font-family: "San Francisco Display Light", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: map_get($theme, info);
}

main {
  position: relative;
  z-index: 1;
}
